In [2]:
import requests
import pandas as pd
import mplfinance as mpf


# Your existing code to fetch and prepare the data
base_url = "https://api.binance.com"
symbol = "BTCUSDT"
interval = "1d"
limit = 365 * 8  # Increased to 12 to include 12 days of data
url = f"{base_url}/api/v3/klines?symbol={symbol}&interval={interval}&limit={limit}&endTime=1502928000000"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(
        data,
        columns=[
            "Open time",
            "Open",
            "High",
            "Low",
            "Close",
            "Volume",
            "Close time",
            "Quote asset volume",
            "Number of trades",
            "Taker buy base asset volume",
            "Taker buy quote asset volume",
            "Ignore",
        ],
    )
    df["Date"] = pd.to_datetime(df["Open time"], unit="ms")

    # Replace null values with the value from the previous row (forward fill)
    df.fillna(method="ffill", inplace=True)
    # Calculate the SMA
    df["sma"] = df["Close"].rolling(3, min_periods=3).mean()

    df.to_csv("btcusdt_klines4.csv", index=False)
    print("Data saved to btcusdt_klines.csv")
else:
    print("Failed to retrieve data.")

Data saved to btcusdt_klines.csv

/var/folders/ct/yp6fq1h14hdcbn7td3nvnh840000gr/T/ipykernel_32140/3595896565.py:36: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

In [17]:
df = pd.read_csv("btcusdt_klines.csv")
df["Date"] = pd.to_datetime(df["Open time"], unit="ms")
df.set_index("Date", inplace=True)
df[["Open", "High", "Low", "Close"]] = df[["Open", "High", "Low", "Close"]].astype(
    float
)
df["Volume"] = df["Volume"].astype(float)

columns_to_keep = ["Open", "High", "Low", "Close", "Volume", "Open time"]
filtered_df = df.loc[:, columns_to_keep]

filtered_df

,Open,High,Low,Close,Volume,Open time
Date,,,,,,
2021-11-08,63273.58,67789.00,63273.58,67525.83,54442.094554,1636329600000
2021-11-09,67525.82,68524.25,66222.40,66947.66,44661.378068,1636416000000
2021-11-10,66947.67,69000.00,62822.90,64882.43,65171.504046,1636502400000
2021-11-11,64882.42,65600.07,64100.00,64774.26,37237.980580,1636588800000
2021-11-12,64774.25,65450.70,62278.00,64122.23,44490.108160,1636675200000
...,...,...,...,...,...,...
2024-07-30,66784.68,67000.00,65302.67,66188.00,23132.254410,1722297600000
2024-07-31,66188.00,66849.24,64530.00,64628.00,22625.439050,1722384000000
2024-08-01,64628.01,65659.78,62302.00,65354.02,35542.268540,1722470400000
2024-08-02,65354.02,65596.14,61230.01,61498.33,38820.429370,1722556800000
2024-08-03,61498.34,61981.43,60505.00,61746.55,10104.667570,1722643200000

In [20]:
df = pd.read_csv("btcusdt_klines2.csv")
df["Date"] = pd.to_datetime(df["Open time"], unit="ms")
df.set_index("Date", inplace=True)
df[["Open", "High", "Low", "Close"]] = df[["Open", "High", "Low", "Close"]].astype(
    float
)
df["Volume"] = df["Volume"].astype(float)

columns_to_keep = ["Open", "High", "Low", "Close", "Volume", "Open time"]
filtered_df = df.loc[:, columns_to_keep]

filtered_df

,Open,High,Low,Close,Volume,Open time
Date,,,,,,
2019-02-13,3631.51,3670.00,3591.75,3609.40,25773.997648,1550016000000
2019-02-14,3608.34,3626.40,3568.11,3590.56,21753.501261,1550102400000
2019-02-15,3590.57,3653.23,3573.45,3602.47,20777.872899,1550188800000
2019-02-16,3602.49,3648.20,3597.91,3618.41,19565.992751,1550275200000
2019-02-17,3617.22,3700.11,3604.40,3667.58,25690.227779,1550361600000
...,...,...,...,...,...,...
2021-11-04,62896.49,63086.31,60677.01,61395.01,35930.933140,1635984000000
2021-11-05,61395.01,62595.72,60721.00,60937.12,31604.487490,1636070400000
2021-11-06,60940.18,61560.49,60050.00,61470.61,25590.574080,1636156800000
2021-11-07,61470.62,63286.35,61322.78,63273.59,25515.688300,1636243200000
2021-11-08,63273.58,67789.00,63273.58,67525.83,54442.094554,1636329600000

In [21]:
df = pd.read_csv("btcusdt_klines3.csv")
df["Date"] = pd.to_datetime(df["Open time"], unit="ms")
df.set_index("Date", inplace=True)
df[["Open", "High", "Low", "Close"]] = df[["Open", "High", "Low", "Close"]].astype(
    float
)
df["Volume"] = df["Volume"].astype(float)

columns_to_keep = ["Open", "High", "Low", "Close", "Volume", "Open time"]
filtered_df = df.loc[:, columns_to_keep]

filtered_df

               Open     High      Low    Close        Volume      Open time
Date
2017-08-17  4261.48  4485.39  4200.74  4285.08    795.150377  1502928000000
2017-08-18  4285.08  4371.52  3938.77  4108.37   1199.888264  1503014400000
2017-08-19  4108.37  4184.69  3850.00  4139.98    381.309763  1503100800000
2017-08-20  4120.98  4211.08  4032.62  4086.29    467.083022  1503187200000
2017-08-21  4069.13  4119.62  3911.79  4016.00    691.743060  1503273600000
...             ...      ...      ...      ...           ...            ...
2019-02-09  3660.27  3680.02  3625.13  3665.18  24759.833719  1549670400000
2019-02-10  3665.18  3684.99  3609.76  3680.06  23250.602634  1549756800000
2019-02-11  3679.75  3684.90  3615.53  3631.05  24954.614571  1549843200000
2019-02-12  3631.05  3667.60  3582.34  3631.46  29479.598230  1549929600000
2019-02-13  3631.51  3670.00  3591.75  3609.40  25773.997648  1550016000000

[546 rows x 6 columns]

In [3]:
df1 = pd.read_csv("btcusdt_klines.csv")
df2 = pd.read_csv("btcusdt_klines2.csv")
df3 = pd.read_csv("btcusdt_klines3.csv")

combined_df = pd.concat([df1, df2, df3])

combined_df["Date"] = pd.to_datetime(combined_df["Open time"], unit="ms")
combined_df.set_index("Date", inplace=True)
combined_df[["Open", "High", "Low", "Close"]] = combined_df[
    ["Open", "High", "Low", "Close"]
].astype(float)
combined_df["Volume"] = combined_df["Volume"].astype(float)

columns_to_keep = ["Open", "High", "Low", "Close", "Volume", "Open time"]
filtered_df = combined_df.loc[:, columns_to_keep]


filtered_df.to_csv("btcusdt_klines_full.csv", index=False)
filtered_df

,Open,High,Low,Close,Volume,Open time
Date,,,,,,
2021-11-08,63273.58,67789.00,63273.58,67525.83,54442.094554,1636329600000
2021-11-09,67525.82,68524.25,66222.40,66947.66,44661.378068,1636416000000
2021-11-10,66947.67,69000.00,62822.90,64882.43,65171.504046,1636502400000
2021-11-11,64882.42,65600.07,64100.00,64774.26,37237.980580,1636588800000
2021-11-12,64774.25,65450.70,62278.00,64122.23,44490.108160,1636675200000
...,...,...,...,...,...,...
2019-02-09,3660.27,3680.02,3625.13,3665.18,24759.833719,1549670400000
2019-02-10,3665.18,3684.99,3609.76,3680.06,23250.602634,1549756800000
2019-02-11,3679.75,3684.90,3615.53,3631.05,24954.614571,1549843200000
2019-02-12,3631.05,3667.60,3582.34,3631.46,29479.598230,1549929600000
2019-02-13,3631.51,3670.00,3591.75,3609.40,25773.997648,1550016000000